@font-face {
    font-family: Tauri-Regular;
    src: url(./resources/typo/Tauri-Regular.ttf);
}

@font-face {
    font-family: parrafo;
    src: url(./resources/typo/HindSiliguri-Light.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}


/* anidado */

.navbar {
    padding: 0px;

    .container-fluid {
        background-color: #5da5d8;
        flex-direction: row-reverse;

        .navbar-toggler {
            background-color: white;
        }

        .logo {
            height: 100px;
            width: 100px;
            margin-left: 50px;
        }

        .collapse {
            .form-control {
                input {
                    margin: 5px;
                }

                .btn {
                    margin: 2px;
                    background-color: white;
                }
            }
        }
    }
}

.main-index,
.main-productos {
    background-image: url(https://img.freepik.com/vector-premium/fondo-abstracto-azul-salud_66029-25.jpg);
    background-size: contain;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}


.banner {
    width: 100%;
}

.boton-banner {
    padding: 5px;
    margin: 5px;
    margin-left: 75%;
    border-radius: 15px;
    margin-bottom: 35px;
    background-color: #406E8E;
    font-family: parrafo;
    font-size: 25px;
    box-shadow: #406E8E 4px 4px;
    display: inline-block;
    justify-items: right;
}

.slidefotos {
    display: flex;
    justify-content: center;
    background-color: #406e8e19;
    padding: 50px;
}


.carousel {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
}

.demo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.radio img {
    border: #406E8E solid 2px;
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.radio {
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 25px;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px 2px;
    background-color: #406e8e39;
}

.footer {
    background-color: #406E8E;
    color: #CBF7ED;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.footer div p {
    font-family: sans-serif;
    color: beige;
    font-size: 20px;
}

.links a {
    text-decoration: none;
    /* margin: 35px; */
    font-family: sans-serif;
    color: beige;
    font-size: 20px;
}



h2 {
    color: #CBF7ED;
    text-align: right;
    font-family: Tauri-Regular;
    background-color: #8EA8C3;
    font-size: 40px;
    margin-left: 950px;
    margin-right: 50px;
    margin-right: 21px;
}



.inter {
    text-align: center;
    font-size: 25px;
    font-family: parrafo;
    color: #406E8E;
    margin: 50px;
}

.desc p {
    color: #CBF7ED;
    background-color: #8EA8C3;
    text-align: right;
    font-family: parrafo;
    font-size: 20px;
    margin-left: 950px;
    margin-right: 21px;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.apps {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    background-color: #406E8E;
}

.apps img {
    height: 40px;
    width: 40px;
    background-color: #406E8E;
    border-radius: 25px;
}

.vista-previa {
    height: 300px;
    width: 300px;
}

.conector {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.conector h2 {
    text-align: center;
    margin-left: 0px;
    background-color: rgba(71, 65, 84, 0.202);
    color: #406E8E;
    margin-top: 70px;
    align-items: center;
    border-radius: 10px;
    width: 75%;
}

.conector p {
    font-family: parrafo;
    color: #8EA8C3;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

.noticias {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.congreso {
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: rgba(143, 159, 176, 0.196);
    align-items: flex-start;
    border-radius: 15px;
    justify-content: center;
    height: 500px;
}

.congreso div a {
    margin: 400px;

}

.congreso div a button {
    color: black;
    background-color: #406E8E;
    border-radius: 25px;
    width: 150px;
    height: 50px;

}

.congreso p {
    color: black;
    font-size: 20px;
    width: 600px;
    margin-left: 55px;
    font-family: sans-serif;
}

.congreso img {
    width: 500px;
    border-radius: 25px;
}

.congreso h2 {
    font-size: 25px;
    margin: 25px;
    background-color: transparent;
    color: #406E8E;
    text-align: center;
    width: 700px;
}


.form input {
    display: block;
    background-color: #5da5d80e;
    border-radius: 10px;
}

.form textarea {
    background-color: #5da5d80e;
}

.d {
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    background-color: #406E8E;
    color: beige;
}

.grilla-productos {
    display: grid;
    grid-template-areas:
        "fil art "
        "fil art "
    ;
}


.articulo {
    grid-area: art;
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.articulo h2 {
    color: #406E8E;
    margin-left: 450px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #8ea8c356;

}

.filtro {
    grid-area: fil;
    background-color: #5da5d865;
    color: black;
    list-style-type: none;
    padding: 50px;

}

.categorias {
    margin: 5px;
    color: black;
    font-family: sans-serif;
    background-color: #8EA8C3;
    padding-inline: 25px;
}

.filtro li {
    margin: 5px;

}

.filtro li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(248, 248, 248);
    margin-left: 10px;
}

.herramienta img {
    width: 250px;
    align-items: start;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
}

.herramienta p {
    margin: 20px;
    font-family: parrafo;
    text-align: center;
}

.herramienta {
    display: flex;
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 15px;
    margin: 25px;
    text-align: center;
    box-shadow: 15px 15px 25px 1px;
    align-items: center;
    background-color: white;
    width: 250px;
}

.buscar {
    border-radius: 5px;
    margin: 15px;
    height: 25px;
    width: 300px;
    background-color: #f3f3f4c1;
}



.serv {
    color: #406E8E;
    background-color: #8EA8C3;
    font-family: Tauri-Regular;
    padding: 7px;
    margin: 7px;
    border-radius: 10px;
}

.form {
    margin: 15px;
}

.form p {
    margin-top: 20px;
    font-family: parrafo;
    font-size: 45px;
}

.parrafo-form {
    margin-left: 15px;
}

.form input {
    border-radius: 5px;
    width: 350px;
    height: 35px;
}

.nosotros {
    font-family: parrafo;
    font-size: large;
    margin-right: 900px;
    padding-bottom: 35px;
}

.historia {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.historia h3 {
    margin-top: 75px;
    font-size: 50px;
    color: #2c658e;
}

.historia p {
    width: 1200px;
    font-family: parrafo;
    font-size: 35px;
    margin: 25px;
    margin-bottom: 200px;
    color: #2c658e;
}

.historia iframe {
    width: 1300px;
    height: 900px;
    margin: 25px;
}


.mapa {
    margin: 25px;
}

.contactos {
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.contactos p {
    font-family: parrafo;
    color: #2c658e;
    font-size: 45px;

}

.desplegable {
    display: none;
}

.arreglado {
    --bs-btn-color: #000205;
    --bs-btn-bg: #6c757d;
    background-color: #5da5d8;
}


/* RESPONSIVE */
/* Index */
/* Mobile Last */
@media (max-width:1440px) {
    .noticias {
        overflow: hidden;
        width: 1440px;
        height: auto;
    }

    .subcong {
        width: 700px;
    }

}

@media (max-width:1024px) {
    .boton-banner {
        width: 250px;
        margin-left: 70%;
        height: 40px;
        display: flex;
        justify-content: end;
        font-size: 21px;
    }

    .noticias {
        width: 1024px;
        overflow: hidden;
    }

    .congreso {
        display: flex;
        overflow: hidden;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        justify-content: flex-start;
        align-content: space-between;
        text-align: center;
        width: 1024px;
    }

    .subcong {
        width: 630px;
    }

    .subcong p {
        width: 550px;
        font-size: 12px;
    }

    .subcong h2 {
        width: 600px;
        font-size: 15px;
    }

    .congreso img {
        width: 300px;
    }

    .demo {
        flex-wrap: wrap;
    }

    .footer {
        grid-template-columns: none;
        justify-content: center;
        grid-template-areas:
            "inf link"
            "map map"
        ;
    }

    .info {
        grid-area: inf;
    }

    .links {
        grid-area: link;
    }

    .mapa {
        grid-area: map;
    }

    .conector h2 {
        padding-inline: 20px;
        border-radius: 25px;
    }
}

@media (max-width:768px) {
    .boton-banner {
        width: 250px;
        margin-left: 60%;
        height: 40px;
        display: flex;
        justify-content: end;
        font-size: 21px;
    }

    .desplegable {
        display: inline;
    }

    .noticias {
        width: 768px;
        overflow: hidden;
    }

    .congreso {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        flex-wrap: wrap;
        height: 700px;
        justify-content: space-around;
        width: 768px;
    }

    .congreso img {
        margin: auto;
        width: 350px;

    }

    .congreso h2 {
        font-size: 25px;
    }

    .congreso p {
        font-size: 15px;
    }

    .congreso div a button {
        align-content: center;
    }

    .demo {
        flex-wrap: wrap;
    }

    .footer {
        grid-template-columns: none;
        justify-content: center;
        grid-template-areas:
            "inf link"
            "map map"
        ;
    }

    .info {
        grid-area: inf;
    }

    .links {
        grid-area: link;
    }

    .mapa {
        grid-area: map;
    }

    .conector h2 {
        padding-inline: 20px;
        border-radius: 25px;
    }

    .carousel-item img {
        height: 550px !important;
    }
}

@media (max-width: 425px) {

    .noticias {
        width: 425px;
        overflow: hidden;
    }

    .congreso {
        width: auto;
        height: auto;
        padding: 0px;
    }

    .congreso img {
        width: 420px;
        margin: 0px;

    }

    .subcong h2 {
        margin: 0px;
        width: 420px;
    }

    .subcong p {
        width: 420px;
        margin: 0px;
    }

    .congreso div a {
        margin: 0px;
    }

    .footer {
        width: 425px;
        overflow: hidden;
        grid-template-areas:
            "inf"
            "link"
            "map"
        ;
    }

    .mapa {
        width: 400px;
        height: 250px;
    }

    .boton-banner {
        width: 150px;
        font-size: 12px;
    }


    .slidefotos {
        height: 250px;
        padding: 0px;
    }

    .carousel-control-prev {
        height: 250px;
    }

    .carousel-control-next {
        height: 250px;
    }

    .carouse-inner {
        height: 250px;
        width: 250px;

    }

    .carousel-item img {
        height: 250px !important;
    }


}

/* Responsive Productos */

@media (max-width: 1440px) {
    .filtro {
        padding: 0px;
        width: 250px;
    }

    .container-fluid {
        width: 1440px;
    }

    .articulo h2 {
        font-size: 55px;
        margin-left: 120px;
        margin-right: 100px;
    }

    .herramienta {
        width: 270px;
    }


    .grilla-productos {
        width: 1240px;
    }

    .buscar {
        width: 190px;
    }

    .categorias {
        font-size: 25px;
    }
}

@media (max-width: 768px) {



    .filtro {
        display: none;
    }

    .dropdown {
        color: #2c658e;
    }

    .articulo {
        width: 768px;
    }

    .grilla-productos {
        width: 768px;
    }

    .dropdown {
        display: block;
        color: #2c658e;
    }

    .articulo h2 {
        width: 450px;
        font-size: 35px;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .articulo {
        width: 425px;
    }

    .grilla-productos {
        width: 425px;
    }

    .articulo h2 {
        width: 300px;
        font-size: 20px;
        text-align: center;
    }
}