.footer {
    background-color: #406E8E;
    color: #CBF7ED;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-around;

        p {
            font-family: sans-serif;
            color: beige;
            font-size: 20px;
        }
    }

    .links {
        @extend .info;

        a {
            text-decoration: none;
            font-family: sans-serif;
            color: beige;
            font-size: 20px;
        }

        p {
            font-family: sans-serif;
            color: beige;
            font-size: 20px;
        }

        .apps {
            display: flex;
            flex-direction: row;
            margin-right: 10px;
            background-color: #406E8E;

            img {
                height: 40px;
                width: 40px;
                background-color: #406E8E;
                border-radius: 25px;
            }
        }
    }

    .mapa {
        margin: 25px;
        @extend .info;
    }

}

/* RESPONSIVE */
@media (max-width: 1082px) {
    .footer {
        grid-template-columns: none;
        justify-content: center;
        grid-template-areas:
            "inf link"
            "map map"
        ;

        .info {
            grid-area: inf;
        }

        .links {
            grid-area: link;
        }

        .mapa {
            grid-area: map;
        }
    }
}



@media (max-width: 720px) {
    .footer {
        width: auto;
        overflow: hidden;
        grid-template-areas:
            "inf"
            "link"
            "map"
        ;

        .mapa {
            width: 450px;
        
        }
    }
}

@media (max-width: 480px) {
    .footer {
        .mapa {
            width: 350px;
        }
    }
}